.header {
  background-color: #fff;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  .logo {
    font-size: 26px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    .sub {
      color: #4eabf9;
    }
  }
  img {
    width: 100px;
  }
  ul {
    li {
      list-style: none;
      a {
        font-size: 13px;
        line-height: 1em;
        padding: 10px 13px;
        font-weight: 600;
        color: #444444;
        cursor: pointer;
        &:hover {
          color: #4eabf9;
        }
      }
    }
  }
}
