.header {
  background-color: #fff;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  .logo {
    font-size: 26px;
    font-weight: 600;
    font-family: "Times New Roman", Times, serif;
    .sub {
      color: #4eabf9;
    }
  }

  img {
    width: 40px;
  }
  .active {
    color: #4eabf9 !important;
  }

  ul {
    transition: all 100ms ease-in-out;
    li {
      list-style: none;
      position: relative;
      &:hover {
        .sub-menu {
          display: block;
        }
        a {
          &:hover {
            color: #4eabf9;
          }
        }
      }
      a {
        font-size: 13px;
        line-height: 1em;
        font-weight: 600;
        color: #444444;
        cursor: pointer;
        &:hover {
          color: #4eabf9;
        }
      }
      .service {
        &::after {
          font-family: Arial, sans-serif;
          content: "\2023";
          position: absolute;
          top: 9.166667px;
          font-size: 40px;
          transform: rotate(90deg);
          color: #444444;
          height: 13px;
          width: 13px;
          line-height: 13px;
          overflow: hidden;
          opacity: 0.5;
          @media (max-width: 991px) {
            right: 20px;
          }
          @media (min-width: 992px) {
            font-size: 20px;
            top: 14.16666667px;
          }
        }
      }
      .sub-menu {
        display: none;
        @media (min-width: 992px) {
          position: absolute;
        }
        ul {
          position: relative;
          @media (min-width: 992px) {
            right: 36px;
          }
          border-bottom: 4px solid #4eabf9;
          li {
            padding-bottom: 3px;
            &:hover {
              background: #4eabf9;
              color: #ffffff;
              .inner-sub {
                display: block;
              }
              a {
                text-decoration: none;
                padding: 5px 40px;
                margin: 0;
                line-height: 1em;
                white-space: nowrap;
                width: 100%;
                &:hover {
                  background: #4eabf9;
                  color: #ffffff !important;
                }
              }
            }
            .inner-sub {
              display: none;
              height: auto;
              display: none;
              position: absolute;
              background-color: #ffffff;
              top: -12px;
              padding: 12px 0;
              width: fit-content !important;
              left: 100%;
              transition: all 100ms ease-in-out;
              a {
                text-decoration: none;
                padding: 5px 40px;
                margin: 0;
                line-height: 1em;
                white-space: nowrap;
                width: 100%;
                &:hover {
                  background: #4eabf9;
                  color: #ffffff !important;
                  .sub-menu {
                    a {
                      background: #4eabf9;
                      color: #ffffff !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
