.vertical-center {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #0e3332, #349995);
    color: #fff;
    z-index: 4000;

    &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;

    }
}

#splash {
    transition: all .3s linear;
}

.vertical-center>* {
    vertical-align: middle;
    white-space: normal;
    display: inline-block;
}


@keyframes r {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

#splash {
    transition: all 0.3s linear;
}

#splash.hidden {
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}

svg.gear {
    animation: r 0.5s infinite linear;
}