/* You can add global styles to this file, and also import other style files */
body {
    box-sizing: border-box;
    margin: 0;
}

.fnt-16 {
    font-size: 16px;
}

.fnt-18 {
    font-size: 18px;
}

.fw-600 {
    font-weight: 600;
}

.pointer {
    cursor: pointer;
}